{
  "global": {
    "log_level": 5,
    "notify_prefix_deprecation": true,
    "prefix_mismatch_packet_threshold": 3,
    "prefix_deprecation_interval_seconds": 300
  },
  "interfaces": {
    "lan": {
      "ifname": "eth1",
      "master": false,
      "ndproxy_routing": true,
      "ndp_from_link_local": true
    },
    "wan": {
      "ifname": "eth0",
      "master": true,
      "ndproxy_routing": true,
      "ndp_from_link_local": true
    }
  }
}